.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
}

.menu .link{
    margin-left: 25px;
}