@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
    background-color: #CAD4CD;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MainContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}
